smolagents
livekit-agents
livekit-plugins-vad
mem0ai
pycryptodome
opencv-python
pyautogui
numpy
google-genai
supabase
huggingface_hub
bs4
requests
Pillow
pyttsx3
beautifulsoup4
psutil
fastapi
uvicorn
python-multipart
websockets
pynput
playsound==1.2.2
playwright
pytesseract
pywin32
pycaw
deepface
faster-whisper
wolframalpha
wmi
comtypes
openai-whisper
sounddevice
scipy
SpeechRecognition
python-dotenv
duckduckgo-search
trafilatura
zeroconf